*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: #92DFC8;
    padding: 20px;
    text-align: center;
}
.main-1{
    margin-bottom: 10px;
}

.content{
    text-align: center;
    background-color: #CAEFF2;
    float: left;
    height: 600px;
    padding: 20px;
    width: 65%;

}

.aside{
    text-align: center;
    background-color: #F2D8CA;
    height: 600px;
    padding: 20px;
    float: right;
    width: 35%;
}
.box{
    background-color: #F2F1CA;
    padding: 20px;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(25% - 7.5px);
    float: left;
}
.box:nth-child(4){
    margin-right: 0;
}
.clear{
    clear: both;
}
footer{
    background-color: #EECBF3;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 768px){
    .content{
        width: 100%;
    }
    .aside{
        width: 100%;
    }
    .box{
        width: calc(50% - 5px);  
    }
    .box:nth-child(2n){
        margin-right: 0;
    }
}
@media screen and (max-width:480px) {
    .content{
        width: 100%;
    }
    .aside{
        width: 100%;
    }
    .box{
        width: 100%;  
        margin-right: 0;
    }
}